.header {
    border-bottom: 1px solid #ECECEC;
}

.page__header {
    display: flex;
    align-items: center;


    &--nav {
        display: flex;
        align-items: center;
    
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    
        color: var(--main-color);
    }
    
    &--menu {
        display: flex;
        margin-left: 93px;
    
        cursor: pointer;
        @extend %list;
    }
    
    &--item:not(:last-child) {
        margin-right: 50px;

    }
    
    &--link {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
        color: var(--main-color);
    
        @include transitions(color);
        @extend %link;

        &:hover,
        &:focus {
            color: var(--second-color);
        }
    }
    
    &--active {
        position: relative;
        color: var(--second-color);

        &::after {
            display: block;
            content: "";
            position: absolute;
            bottom: -1px;
            left: 0;
            height: 4px;
            width: 100%;
            background-color: var(--second-color);
            border-radius: 4px;
        }
    }
    
    &--contacts {
        display: flex;
        margin-left: auto;
    
        cursor: pointer;
        @extend %list;
    }
    
    &--item:not(:last-child) {
        margin-right: 50px;
    }
    
    &--icon {
        display: flex;
        align-items: center;
    
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--main-text-color);
    
        @include transitions(color);
        @extend %link;

        &:hover,
        &:focus {
            color: var(--second-color)
        }
    }
    
    .page__icon--mail, .page__icon--tel {
        margin-right: 10px;
        width: 16px;
        height: 12px;
        fill: var(--header-icon-color);
    }

    .page__icon--tel {
        height: 16px;
    }

    
    &--icon:hover .page__icon--mail,
    &--icon:focus .page__icon--mail {
        fill: var(--second-color);
    }
    
    &--icon:hover .page__icon--tel,
    &--icon:focus .page__icon--tel {
        fill: var(--second-color);
    }
}