.portfolio {
    display: flex;
    flex-wrap: wrap;

    @extend %list;

    &__example {
        width: 370px;
    }
    
    &__example:not(:nth-child(3n)) {
        margin-right: 30px;
    }
    
    &__example:not(:nth-last-child(-n+3)) {
        margin-bottom: 30px;
    }
    
    &__link {
        display: block;
        position: relative;
    
        @include transitions(box-shadow);

        @extend %link;
    }
    
    &__thumb {
        position: relative;
        overflow: hidden;
    }
    
    &__thumb--item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateY(100%);
    
        @include transitions(transform);
    
    }
    
    
    &__thumb--item:hover::before {
        transform: translateY(0);
    }
    
    
    &__thumb--overlay {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.55;
        letter-spacing: 0.03em;
        color: var(--white-text-color);
        margin: 0;
    
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 63px 24px;
        transform: translateY(100%);
    
        background-color: var(--overlay-color);
    
        @include transitions(transform);
    }
    
    &__link:hover &__thumb--overlay,
    &__link:focus &__thumb--overlay {
        transform: translateY(0);
    }
    
    &__link:hover,
    &__link:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    
    &__item {
        padding: 20px 24px;
        border-left: 1px solid var(--portfolio-border-color);
        border-right: 1px solid var(--portfolio-border-color);
        border-bottom: 1px solid var(--portfolio-border-color);
    }
    
    &__thumb--tittle {
        margin-top: 0;
        margin-bottom: 4px;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    
        color: var(--main-color);
    }
}