.section {
    padding: 94px 0;
}

.section__tittle {
    margin: 0;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--main-color);

    text-align: center;
}

.section__none {
    display: none;
}

.section__item {
    padding-top: 0;
}

.section__bg--color {
    background-color: var(--background-team);
}